/* .col-text {
    height:20em;
  }
  .grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    padding: 160px 70px 120px 70px; 
  }
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-left {
    -webkit-box-ordinal-group:-1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    width: 60%;
    font-size: 1.5vw;
  }
  .col-image {
    background-size: cover;
    background-position:center center;
  }
  
  @media (max-width: 640px) {
    .grid-flex {
      height: 40em;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column; 
      padding: 70px;
     }
    .col {
      order:vertical;
    }
    .col-left {
      -webkit-box-ordinal-group:0;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }
    .col-text div p {
      padding: 1em;
      font-size: 315%;
    }
    .Aligner-item {
      width: 90%;
      font-weight: 400;
    }
  } */
  
.team-header {
  margin-top: 15vh;
}

.team-header p {
  font-size: 20px;
}

h1 {
  font-weight: bold;
}
 
h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}