@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i");

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ch-thumb {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
	
	-webkit-transform-origin: 95% 40%;
	-moz-transform-origin: 95% 40%;
	-o-transform-origin: 95% 40%;
	-ms-transform-origin: 95% 40%;
	transform-origin: 95% 40%;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50%;
	top: 40%;
	left: 95%;
	margin: -4px 0 0 -4px;
	background: rgb(14,14,14);
	background: -moz-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	box-shadow: 0 0 1px rgba(255,255,255,0.9);
}


/* Core Team */

.ch-img-lead { 
	background-image: url(../../images/team/heads/AKSHAY\ TATI.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-6{ 
	background-image: url(../../images/team/heads/SARVESH_PATIL.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-1 { 
	background-image: url(../../images/team/heads/VEDANT\ GOKHALE.png);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-and-1{ 
	background-image: url(../../images/team/heads/ATHARVA\ KINAGE.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-tech-1{ 
	background-image: url(../../images/team/heads/AMGED\ ALMOGAHED.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-hom-1{ 
	background-image: url(../../images/team/heads/RUGVED\ PANDE.png);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-1{ 
	background-image: url(../../images/team/heads/MRUNAL\ SONDUR.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-smh-1 { 
	background-image: url(../../images/team/heads/SHAMBHAVI\ LALSINGE.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-hoc-1 { 
	background-image: url(../../images/team/heads/ARYAN\ MAMIDWAR.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-sad-1 { 
	background-image: url(../../images/team/heads/SHREYA\ DAGA.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

/* Managers */
.ch-img-pr_m-1{ 
	background-image: url(../../images/team/managers/RITESH_THAKUR.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-pr_m-2{ 
	background-image: url(../../images/team/managers/ADITYA_HONRAO.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-pr_m-3{ 
	background-image: url(../../images/team/managers/LAUKIK_AVHAD.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

/* Web Team */

.ch-img-web-2 { 
	background-image: url(../../images/team/web/MANDAR\ PATIL.JPG);
	height: 100%;
	width: 100%;
	background-size: cover;
}
.ch-img-web-4 { 
	background-image: url(../../images/team/web/AMEY\ JOSHI.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-3 { 
	background-image: url(../../images/team/web/SHIVAM\ GAVANDI.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-5 { 
	background-image: url(../../images/team/web/SIDDHI\ DESHMUKH.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-6 { 
	background-image: url(../../images/team/web/OJAS\ KETKAR.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-7 { 
	background-image: url(../../images/team/web/RAJKUMAR\ DONGRE.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-8 { 
	background-image: url(../../images/team/web/MAYURESH\ KAULWAR.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-9{ 
	background-image: url(../../images/team/web/AKSHAY\ JADHAV.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-10{ 
	background-image: url(../../images/team/web/REWA\ WADER.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-11{ 
	background-image: url(../../images/team/web/ROHAN\ SASNE.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-12{ 
	background-image: url(../../images/team/web/KARTIK_RUPAULIHA.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-web-13{ 
	background-image: url(../../images/team/web/AMEY_JOSHI.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

/* Android Team */
.ch-img-and-2{ 
	background-image: url(../../images/team/android/HARSHAL\ SONAWANE.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-and-3{ 
	background-image: url(../../images/team/android/PRAKHAR\ RAI.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-and-4{ 
	background-image: url(../../images/team/android/MANASI\ BHAVIK.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-and-5{ 
	background-image: url(../../images/team/android/ASHISH\ FARGADE.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-and-6{ 
	background-image: url(../../images/team/android/SOHAM\ AKOTKAR.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}
.ch-img-and-7{ 
	background-image: url(../../images/team/android/JINAY\ JAIN.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}


/* Flutter Team */
.ch-img-flutter-3{ 
	background-image: url(../../images/team/flutter/ATHARV\ THAKUR.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-flutter-4{ 
	background-image: url(../../images/team/flutter/MANSOOR\ KHALIFA.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-flutter-5{ 
	background-image: url(../../images/team/flutter/AKASH\ INGLE.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-flutter-6{ 
	background-image: url(../../images/team/flutter/AAKASH_NIHALANI.JPG);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-flutter-7{ 
	background-image: url(../../images/team/flutter/VEDANT_JORE.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-flutter-8{ 
	background-image: url(../../images/team/flutter/MITRAJEET_GOLSANGI.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}


/* Management Team */
.ch-img-mm-2{ 
	background-image: url(../../images/team/management/VAISHANAVI\ PETKAR.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-3{ 
	background-image: url(../../images/team/management/MANSOOR\ KHALIFA.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-4{ 
	background-image: url(../../images/team/management/SHREYA\ PATIL.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-5{ 
	background-image: url(../../images/team/management/favin.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-7{ 
	background-image: url(../../images/team/management/JINAY\ JAIN.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-10{ 
	background-image: url(../../images/team/management/JINAY\ JAIN.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

/* Multimedia Team */
.ch-img-mm-8{ 
	background-image: url(../../images/team/multimedia/SHOURYA\ BHOSALE.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-10{ 
	background-image: url(../../images/team/multimedia/TEJAS\ DHARMIK.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-mm-12{ 
	background-image: url(../../images/team/multimedia/ATHARVA\ KSHIRSAGAR.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}


/* Content Team */
.ch-img-ct-1{ 
	background-image: url(../../images/team/content/OMKAR\ JADHAV.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-ct-2{ 
	background-image: url(../../images/team/content/SHREYA\ PATIL.jpeg);
	height: 100%;
	width: 100%;
	background-size: cover;
}

.ch-img-ct-3{ 
	/* background-image: url(../../images/team/content/.jpg); */
	height: 100%;
	width: 100%;
	background-size: cover;
}







.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	background: #4285F4 url(../../images/team/team_images/noise.png);
	box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 40px;
	padding: 22px 0 0 0;
	height: 55px;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info-h3-sm {
	font-size: 11px !important;
}

.ch-info h4 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 30px;
	padding: 20px 0 0 0;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #333;
	width: 80px;
	height: 80px;
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 24px;
	margin: 7px auto 0;
	font-family: 'Montserrat', sans-serif;
	opacity: 0;
	
	-webkit-transition: 
		-webkit-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-moz-transition: 
		-moz-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-o-transition: 
		-o-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-ms-transition: 
		-ms-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	transition: 
		transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
		
	-webkit-transform: translateX(60px) rotate(90deg);
	-moz-transform: translateX(60px) rotate(90deg);
	-o-transform: translateX(60px) rotate(90deg);
	-ms-transform: translateX(60px) rotate(90deg);
	transform: translateX(60px) rotate(90deg);
		
	-webkit-backface-visibility: hidden;
}

.ch-info p a:hover {
	background: rgba(255,255,255,0.5);
}
.ch-item:hover .ch-thumb {
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
	-webkit-transform: rotate(-110deg);
	-moz-transform: rotate(-110deg);
	-o-transform: rotate(-110deg);
	-ms-transform: rotate(-110deg);
	transform: rotate(-110deg);
}
.ch-item:hover .ch-info p a{
	opacity: 1;
	-webkit-transform: translateX(0px) rotate(0deg);
	-moz-transform: translateX(0px) rotate(0deg);
	-o-transform: translateX(0px) rotate(0deg);
	-ms-transform: translateX(0px) rotate(0deg);
	transform: translateX(0px) rotate(0deg);
}

/* Header Text */
.team-header-title {
	padding-top: 5%;
	text-align:center;
	font-family: 'Montserrat', sans-serif !important;
	color:#000000;
}

.button-wrapper {
	display: flex;
  	justify-content: center;
	align-items: center;
	margin-bottom: 3%;
	margin-top: 3%;
}

.hide-show-button {
	display: inline-block;
	padding: 7px 20px;
	font-size: 24px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg,  #4285F4 0%,  #4285F4 100%);
    background-image:linear-gradient(45deg,  #4285F4 0%,   #4285F4 100%);
	transition: .4s;
	outline: none;
}

.hide-show-button:hover {
    background-image: -webkit-linear-gradient(45deg,  #4285F4 0%,  #4285F4 100%);
    background-image: linear-gradient(45deg,  #4285F4 0%,   #4285F4 100%);
}

.responsive-images {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.text-box-left {
	font-size: 20px;
	float: left;
	max-width: 200px;
	padding: 30px;
	align-items: center;
}


.fa-discord:before {
    content: "\f392";
}

.fab {
    font-family: "Font Awesome 5 Brands";
}